.wrapper{
    position: relative;
    font-size: 12px;
    min-width: 150px;
}

.head .head__title {
    padding: 4px 40px 4px 8px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    flex: 1;
}

.head .head__title:after{
    content: '';
    position: absolute;
    border: 5px solid transparent;
    border-top-color: #a5a5a5;
    top: 14px;
    margin-left: 10px;
    right: 15px;
}

.head{
    cursor: pointer;
    width: 100%;
    display: flex;
    padding-right: 25px;
}

.head.sortable .head__title {
    float: left;
    padding: 4px 0 4px 8px;
    /*width: calc(100% - 65px );*/
}

.sort-ico{
    color: grey;
    position: relative;
    top: 3px;
    margin: 0 10px;
}

.sort-ico:before{
    font-size: 15px !important;
}

.sort-ico:hover{
    color: #333333;
}

.options {
    position: absolute;
    top: -12px;
    width: calc(100% + 100px);
    z-index: 99;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    padding: 15px 0;
    right: 0;
    box-shadow: 0px 2px 5px 0 #ccc;
}

.options__header {
    height: 35px;
    padding: 0 20px;
}

.options__header__title {
    font-weight: 100;
    font-size: 15px;
    color: #b2b2b4;
}

.options__header__title:after {
    content: '';
    position: absolute;
    border: 5px solid transparent;
    border-top-color: #484848;
    top: 25px;
    margin-left: 10px;
    right: 14px;
}

.options__list {

}

.options__list__item {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #b2b2b4;
    letter-spacing: 0.06em;
    word-spacing: 0.1em;
    padding: 5px 20px;
    cursor: pointer;
}

.options__list__item:hover,
.options__list__item.active {
    color: #212329;
}

.nested-options-list {
    max-height: 300px;
    overflow: auto;
}

.nested-options-list__item {
    position: relative;
}

.nested-options-list__item:before,
.nested-options-list__item:last-child:after {
    content: '';
    position: absolute;
    width: calc(100% - 42px);
    height: 1px;
    background: #d7d7d7;
    right: 0;
    top: 0;
}

.nested-options-list__item:last-child:after {
    top: auto;
    bottom: 0;
}

.nested-options-list__item__header {
    padding: 12px 15px 5px 20px;
    cursor: pointer;
}

.nested-options-list__item__header__button {
    float: left;
    width: 15px;
    height: 15px;
    border: 1px solid #d7d7d7;
    background: #fff;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 0 1px #ccc inset;
    margin-top: 4px;
}

.nested-options-list__item__header__button:before {
    content: '+';
    position: absolute;
    font-size: 17px;
    font-family: arial;
    top: -2px;
    left: 2px;
    color: #d7d7d7;
}

.nested-options-list__item__header__button.active:before {
    content: '-';
    top: -9px;
    left: 3px;
    font-size: 24px;
}

.nested-options-list__item__header__button:hover {
    border-color: #212329;
}

.nested-options-list__item__header__button:hover:before {
    color: #212329;
}

.nested-options-list__item__header__title {
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: #d7d7d7;
    padding-left: 10px;
    width: calc(100% - 20px);
    text-transform: uppercase;
}

.nested-options-list__item__header:hover .nested-options-list__item__header__title,
.nested-options-list__item__header__title.active {
    color: #212329;
}

.nested-options-list__item__inner-list {
    padding-bottom: 8px;
}

.nested-options-list__item__inner-list__item {
    padding: 5px 15px 5px 55px;
    font-size: 16px;
    font-weight: 600;
    color: #d7d7d7;
    cursor: pointer;
    text-transform: uppercase;
}

.nested-options-list__item__inner-list__item:hover,
.nested-options-list__item__inner-list__item.active {
    color: #212329;
}
