
.list {
    background: #f2f3f7;
    width: 320px;
    border-radius: 3px;
    overflow: hidden;
}

.list-info-head {
    background: #fff;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 12px;
    height: 66px;
    position: relative;
    overflow: hidden;
}

.minimize .list-info-head {
    height: 40px;
}

.in-list-button {
    position: absolute;
    top: 9px;
    right: 20px;
}

.in-list-button:before {
    font-size: 16px;
    color: #212329;
}

.list-info-head .list__title {
    min-width: 240px;
    border-right: 1px solid #d7d7d7;
    margin-right: 10px;
}

.list__title-wrapper:last-child .list__title {
    border-right: none;
}

.left-sec {
    position: absolute;
    transform: translateX(25px);
    top: 27px;
    animation: listEntryFromLeft 0.12s ease-in-out;
    transition: all 0.2s;
}

.left-sec.minimize {
    transform: translateX(calc(-100% + 29px));
    opacity: 0.5;
    height: 40px;
    overflow: hidden;
    border-radius: 3px;
}

.left-sec.minimize + .left-sec {
    transform: translateX(calc(-100% - 40px));
}


/*@keyframes listEntryFromLeft{*/
/*from {*/
/*transform: translate(-80px) scale(0.8);*/
/*opacity:0.4;*/
/*} to{*/
/*transform: translate(0px) scale(1);*/
/*opacity:1;*/
/*}*/
/*}*/

.right-sec {
    position: absolute;
    /*right: 27px;*/
    left: calc(100% - 343px);
    top: 27px;
    transition: all 0.2s;
}

.right-sec.minimize {
    left: calc(100% - 25px);
    opacity: 0.5;
    height: 40px;
    overflow: hidden;
    border-radius: 3px;
}

.list__title > span {
    display: block;
}
.list__title.sm-width {
    min-width: 100px;
}
.customer {
    top: 110px;
}

.customer .list__minimize-btn__wrapper {
    display: none;
}

.customer .list {
    width: 400px;
}

.customer .list__title:first-child .list__title__main {
    color: rgb(34, 143, 255)
}

.list__body ul li {
    border-bottom: 1px solid rgba(33, 35, 41, 0.1);
    position: relative;
}

.customer .list__body ul {
    padding: 0 18px;
}

.customer .list__body ul .list__item {
    padding: 10px 0;
}

.customerListHead .list__title:last-child {
    position: relative;
}

.customer .list__item .list__item__primary__title,
.customerListHead .list__title:last-child .list__title__main {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.03em;
}

.customer .list-head {
    height: auto;
}

.customerListHead .list__title:last-child:before {
    content: '';
    position: absolute;
    left: -13px;
    height: 42px;
    width: 1px;
    background: #d7d7d7;
    top: 0;
}

.list-head {
    background: #fff;
    box-shadow: 0px 3px 5px #d2d2d2;
    padding: 13px 13px 11px;
    border-bottom: 1px solid #d7d7d7;
    border-radius: 3px;
    position: relative;
    height: 62px;
    transition: all 0.15s;
}

.minimize .list-head {
    height: 40px;
}

.list__item {
    padding: 10px 15px;
}

.list__item:after {
    content: '';
    display: block;
    clear: both;
}

.list__title {
}

.list__title__sec {
    font-size: 13px;
    padding-bottom: 2px;
}

.list__title__main {
    font-size: 18px;
    font-weight: 600;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.minimize .list__body {
    display: none;
}

.list__body {
    overflow: auto;
    /*max-height: calc(100vh - 165px);*/
    max-height: 270px;
}

.list__primary-list {
    margin-top: 5px;
}

.list__secondary-list {
    margin-left: 35px;
    list-style-type: disc;
    padding-left: 25px;
}

.list__secondary-list .list__item {
    padding-left: 0px;
}

.list__sec-text {

}
.sec-text-sm {
    position: relative;
    font-size: 12px;
}

.search-ico {
    display: inline-block;
    width: 33px;
    height: 100%;
    padding: 7px 0;
    margin-right: 10px;
    border-right: 1px solid #d7d7d7;
    cursor: pointer;
}

.back-ico {
    display: inline-block;
    width: 33px;
    height: 100%;
    padding: 5px 0;
    margin-right: 10px;
    background: none;
    border: none;
    border-right: 1px solid #d7d7d7;
    cursor: pointer;
}

.back-ico:before {
    display: inline-block;
    transform: translateY(6px) rotate(180deg);
}

.back-ico {
    display: inline-block;
    width: 33px;
    padding: 5px 0;
    margin-right: 10px;
    border-right: 1px solid #d7d7d7;
}

.list__search-box {
    float: left;
    width: 230px;
    height: 30px;
    margin-top: 1px;
}

.list__search-box__input {
    width: calc(100% - 30px);
    height: 100%;
    margin-top: 3px;
    font-size: 14px;
    padding: 5px 8px;
    padding-bottom: 8px;
    border-radius: 2px;
    border: 1px solid #d7d7d7;
}

.list__input {
    padding: 0 0 4px;
    border: none;
    border-bottom: 1px solid #d7d7d7;
    width: calc(100% - 15px);
    font-size: 16px;
    color: #575a65;
}

.list__search-box__close-btn {
    border: none;
    background: none;
    width: 30px;
    text-align: center;
    height: 100%;
    margin-top: 2px;
}

.list__search-box__close-btn__icon {
    transform: rotate(45deg);
    font-size: 32px;
    display: inline-block;
    font-family: arial;
    position: relative;
    top: -2px;
    color: #b5b5b5;
}

.nested-list__item {
    display: block;
    position: relative;
}

.nested-list__item__color-picker {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.nested-list__item__color-indicator {
    width: 12px;
    height: 12px;
    float: left;
    margin-top: 4px;
    margin-right: 10px;
    border-radius: 2px;
}

.nested-list__item__checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.nested-list__item__sparklines {
    /*border: 1px solid rgba(144, 144, 144, 0.7);*/
    height: 22px;
    width: 54px;
    position: absolute;
    top: 8px;
    right: 33px;
}

.nested-list__item__sparklines-rect {
    width: 54px;
    height: 22px;
    fill: rgba(236, 236, 236, 0);
    stroke: #a2a1a1;
}
.nested-list__item__checkbox-icon {
    float: left;
    width: 13px;
    height: 13px;
    border: 1px solid #b5b5b5;
    border-radius: 2px;
    margin-top: 4px;
    margin-right: 15px;
}

.nested-list__item__checkbox:checked + .nested-list__item .nested-list__item__checkbox-icon {
    border: 3px solid #000;
}

.nested-list__item__add-button {
    border: none;
    background: none;
    width: 100%;
    padding: 5px;
}

.nested-list__item__add-button__icon {
    width: 13px;
    height: 13px;
    background: #b5b5b5;
    display: inline-block;
    border-radius: 2px;
    margin-top: 4px;
    position: relative;
}

.nested-list__item__add-button__icon:before {
    content: '+';
    font-size: 15px;
    line-height: 13px;
    color: #fff;
    position: absolute;
    left: 3px;
    top: 0px;
}

.nested-list__item__add-button__title {
    font-size: 12px;
    margin-left: 6px;
    position: relative;
    top: -3px;
    color: rgba(0, 0, 0, 0.65);
}

.nested-list__item__delete-icon {
    float: right;
    position: relative;
    width: 13px;
    height: 13px;
    background: #b5b5b5;
    border-radius: 2px;
    border: none;
    margin-top: 3px;
}

.nested-list__item__delete-icon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 2px;
    width: 5px;
    background: #fff;
}

.nested-list__item__delete-icon__title {
    position: absolute;
    visibility: hidden;
    right: calc(100% + 10px);
    background: #000;
    padding: 2px 8px 4px 8px;
    border-radius: 3px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    opacity: 0.75;
}

.nested-list__item__delete-icon__title:before {
    content: '';
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 4px 0px 4px 5px;
    border-color: rgba(255, 0, 0, 0) rgba(255, 0, 0, 0) rgba(255, 0, 0, 0) rgba(0, 0, 0, 1);
}

.nested-list__item__delete-icon:hover .nested-list__item__delete-icon__title {
    visibility: visible;
}

.nested-list__item__new-list__wrapper {
    width: calc(100% - 110px);
    position: relative;
}

.nested-list__item__new-list,
.nested-list__item__new-list__number {
    width: 100%;
    height: 26px;
    margin: 4px 15px;
    border-radius: 2px;
    border: 1px solid rgb(218, 218, 218);
    background: none;
    box-shadow: 0px 0px 8px rgba(158, 158, 158, 0.2) inset;
    padding: 0 7px;
    margin-right: 0;
}

.nested-list__item__new-list__number {
    width: calc(50% - 30px);
}

.nested-list__item__new-list__spacer {
    width: 42px;
    text-align: center;
    font-size: 20px;
    padding-top: 2px;
    color: #000;
}

.nested-list__item__new-list-save {
    width: 24px;
    height: 24px;
    margin-top: 5px;
    margin-right: 10px;
    border: none;
    background: none;
    position: relative;
}

.nested-list__item__new-list-save:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 5px;
    border: 2px solid #b5b5b5;
    border-top: none;
    border-right: none;
    transform: rotate(-40deg);
    top: 6px;
    left: 5px;
}

.nested-list__item__new-list-remove {
    width: 24px;
    height: 24px;
    margin-top: 5px;
    margin-right: 15px;
    border: none;
    background: none;
    position: relative;
}

.nested-list__item__new-list-remove:before {
    content: '+';
    font-family: arial;
    font-size: 28px;
    position: absolute;
    top: -4px;
    transform: rotate(45deg);
    left: 3px;
    color: #b5b5b5;
}

.nested-list__item__new-list-remove:hover .nested-list__item__new-list-remove__tooltip,
.nested-list__item__new-list-save:hover .nested-list__item__new-list-save__tooltip {
    visibility: visible;
}

.nested-list__item__new-list-remove__tooltip,
.nested-list__item__new-list-save__tooltip {
    visibility: hidden;
    position: absolute;
    right: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    background: #000;
    color: #fff;
    padding: 2px 8px;
    border-radius: 3px;
    opacity: 0.75;
    z-index: 9;
}

.nested-list__item__new-list-save__tooltip:before,
.nested-list__item__new-list-remove__tooltip:before {
    content: '';
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 4px 0px 4px 5px;
    border-color: rgba(255, 0, 0, 0) rgba(255, 0, 0, 0) rgba(255, 0, 0, 0) rgb(0, 0, 0);
}

.nested-list__item__new-list__error-msg {
    visibility: hidden;
    position: absolute;
    top: 100%;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 100;
    background: #F44336;
    color: #fff;
    padding: 2px 10px;
    left: 55%;
    transform: translateX(-50%);
    z-index: 9;
    border-radius: 3px;
    opacity: 0.95;

}

.nested-list__item__new-list__wrapper input:hover + .nested-list__item__new-list__error-msg {
    visibility: visible;
}


.list__minimize-btn__wrapper {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    width: 30px;
    background-color: #fff;
    transition: all 0.2s;
}

.list__minimize-btn__wrapper:before {
    content: '';
    position: absolute;
    left: 0;
    height: 45px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    background: #d7d7d7;
}

.list__minimize-btn {
    background: none;
    border: none;
    width: 24px;
    height: 100%;
    margin-left: 3px;
    position: relative;
}

.list__minimize-btn:after {
    content: '';
    font-size: 29px;
    position: absolute;
    width: 9px;
    height: 9px;
    border: 2px solid rgb(27, 27, 31);
    border-right: none;
    border-bottom: none;
    top: 50%;
    left: 9px;
    transform: translateY(-50%) rotate(-45deg);
    transition: all 0.2s;
}

.minimize .list__minimize-btn:after {
    transform: translateY(-50%) rotate(135deg);
    left: 5px;
}

.right-sec .list__minimize-btn:after {
    transform: translateY(-50%) rotate(135deg);
    left: 4px;
}

.right-sec.minimize .list__minimize-btn:after {
    transform: translateY(-50%) rotate(-45deg);
    left: 9px;
}

.right-sec.minimize .list__minimize-btn__wrapper {
    right: calc(100% - 30px);
}

.list__item__primary__title {
    width: calc(100% - 100px);
}

.list__item__secondary__title {
    width: 100px;
    text-align: right;
}

.list__empty-msg {
    display: block;
    height: 60px;
    text-align: center;
    padding-top: 16px;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.3;
    letter-spacing: 0.03em;
    word-spacing: 0.1em;
}